.userList {
  height: 100%;
  background-color: #dadada;
  padding: 25px;
  overflow-x: hidden;
  overflow-y: auto;
}

.userList > .card {
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.fullHeight {
  bottom: 0;
  right: 0;
  left: 0;
  position: absolute;
  background-color: #fafafa;
}

.messages {
  margin-top: 15px;
  width: 93%;
  height: 88%;
  /* border-style: dotted; */
  /* border-color: red; */
}

.messagesContainer {
  height: 34%;
  width: 91%;
  position: absolute;
  top: 55%;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0;
}

.messagesHistorialContainer {
  height: 100%;
  width: 91%;
  position: absolute;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0;
  padding: 3rem 0.5rem 0 0.5rem;
  max-height: 48rem;
}

.cameraView {
  height: 57%;
  width: 100%;
}

.historialView {
  height: 100%;
  width: 100%;
}

.cameraView > .row > .col > .card {
  height: 100% !important;
}

.cameraView > .row > .col > .card > .card-body {
  height: 100% !important;
}

.cameraView > .row > .card > .card-body > .dataHolder {
  height: 100% !important;
}
.app-container {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  top: 51px;
}

.user {
  position: relative;
  background: #afafaf;
  border-radius: .4em;
  width: 85%;
  padding: 5px;
  color: white;
  margin-top: 10px;
}

.user > p {
  color: white;
}

/* .user:after {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-right-color: #8a2908;
    border-left: 0;
    border-bottom: 0;
    margin-top: -10px;
    margin-left: -20px;
} */

.support {
  position: relative;
  background: var(--main-bg-color);
  border-radius: .4em;
  width: 85%;
  padding: 5px;
  color: white;
  margin-left: 15%;
}

.support > p {
  color: white;
}

/* .support:after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-left-color: #afafaf;
    border-right: 0;
    border-bottom: 0;
    margin-top: -10px;
    margin-right: -20px;
} */

.policia {
  position: relative;
  background: #607d8b;
  border-radius: .4em;
  width: 85%;
  padding: 5px;
  color: white;
  margin-top: 10px;
}

.policia > p {
  color: white;
}

/* .policia:after {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-right-color: #8a2908;
    border-left: 0;
    border-bottom: 0;
    margin-top: -10px;
    margin-left: -20px;
} */

.sistema {
  position: relative;
  background: #8bc34a;
  border-radius: .4em;
  width: 85%;
  padding: 5px;
  color: white;
  margin-top: 10px;
}

.sistema > p {
  color: white;
}

/* .sistema:after {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-right-color: #8a2908;
    border-left: 0;
    border-bottom: 0;
    margin-top: -10px;
    margin-left: -20px;
} */

.messages_send_box {
  position: absolute;
  width: 92%;
  height: 10vh;
  background-color: #c0c0c0;
  padding: 5px;
}

#messsageTextarea {
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  width: 100%;
  height: 8vh;
  resize: none;
}

#sendbutton {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  font-size: 2rem;
}

.activeChat {
  background-color: #afafaf !important;
}

.Alerta.Robo.Habitacion {
  background-color: var(--main-bg-color);
  border-radius: 15px;
  color: white;
}

.Chat.Soporte {
  background-color: #ffaa20;
  border-radius: 15px;
  color: white;
}

.Chat.C5 {
  background-color: #ffaa20;
  border-radius: 15px;
  color: white;
}

.notificationNumber {
  height: 20px;
  width: 20px;
  position: absolute;
  right: 10px;
  top: 10px;
  margin: auto;
  background: red;
  border-radius: 15px;
}

.notificationNumber > p {
  color: #fafafa;
  text-align: center;
}

.camContainerChatDiv > .card > .card-body > .camHolder {
  height: 100% !important;
}

.closed-ticked {
  margin: auto;
  text-align: center;
  padding: 2%;
  font-weight: bold;
}

.messageDate {
  text-align: right;
  color: 'white';
}
