.textSize{
    font-size:350%;
    font-weight: bold;
}
.wChart{
    width: 70%;
}
.hfull{
    height: 100%;
}
.infoMap{
    background-color: rgba(255,255,255,0.5);
    border-left: 3px solid rgb(10, 179, 240);
    padding-left: 10px;
}

.pr-intro{
    padding-right: 30%;
}
.-pt-span{
    margin-top: -rem;
}
.text-h1{
    font-size: xx-large;
    font-weight: bold;
}
.text-h{
    font-size: 50px;
    font-weight: bold;
}
.text-xxs{
    font-size: smaller;
}
.dropdwon-btn{
    border-width: 0.2px;
    width: 90%;
    border-color: darkgray;
}
.text-gray{
    color: gray
}
.bg-gray{
    
    background-color: rgb(238, 236, 236);
    border-width: 0.5px;
    border-color: darkgrey;
}
.text-porcent{
    color: dodgerblue;
}

.colorDay{
    background: linear-gradient(0deg, rgba(97, 244, 247, 0.56) 0%, rgba(17, 161, 168, 0.67) 100%);
}
.colorSemana{
    background: linear-gradient(0deg, rgba(0, 25, 115, 0.824) 0%, rgba(1, 14, 132, 0.779) 100%);
}
.colorMes{
    background: linear-gradient(0deg, rgba(15, 87, 20, 0.56) 0%, rgba(14, 142, 63, 0.67) 100%);

}
.colorAlerta{
    background: linear-gradient(0deg, rgba(248, 3, 3, 0.795) 0%, rgba(229, 99, 125, 0.872) 100%);

}

.tableMap {
    width: 100%;
    border: 1px solid #999;
    text-align: left;
    border-collapse: collapse;
    margin: 0 0 1em 0;
    caption-side: top;
 }
 .caption, td, th {
    padding: 0.3em;
 }
 .tr{
    color: deepskyblue!important;
 }
 .th{
    color: black;
    border-bottom: 1px solid #999;
    width: 25%;
 }
 .td{
    color: black;
    border-bottom: 1px solid #999;
    width: 25%;
 }
 .caption {
    font-weight: bold;
    font-style: italic;
 }