.containerCuadrantes{
    padding: 15px !important;
}

.buttonCuadrantes{
    height: 50px;
}

.formatInput{
    width: 150px;
}

.errorContainer{
    position: absolute;
    top:40%;
    font-size: 1.5em;
    color: black;
    height: 100%;
    margin: auto;
}