.center{
    margin: auto;
}
.mapContainerForDetail{
    height: 40vh;
}


.app-container>.navbar > .navbar-text{
    color: #fff !important;
    font-weight: bold;
}

.loader{
    background-image: url(../../assets/images/giphy.gif);
    background-position: center;
    background-repeat: no-repeat, repeat;
}

.downloadButton{
    position: absolute;
    right: 0;
    padding: 15px;
    z-index: 1;
}