.gridCameraContainer{
    overflow-x: hidden;
    margin: auto;
}


.camGridControl{
    position: fixed;
    bottom: 0;
    height: 0;
    background-color: lightgray;
    width: 100vw;
    display: none;
}
.showfiles{
    height: 30%;
    overflow-y: hidden;
    display: block;
}
.hidefiles{
    height: 0;
}

.hiddenCameraNotshow{
    display: none;
}
.ui.card{
    height: auto !important;
}
.stiky-top{
    position: sticky;
}
.recording{
    animation: opacityOnAndOff;
    animation-duration: 1s;
    animation-delay: 17.7s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

.snapshotsgrid,.videosgrid{
    height: 100%;
    border-right: 1px solid;
}

.showfilesinfocameragrid{
    background-color: white;
    height: 100%;
}
.snapshotsgrid,.videosgrid,.matchesgrid{
    height: 100%;
    overflow-y: auto;
}
.videosgrid>div>div>video{
    width: 100%;
    height: 100%;
}

.errorContainer{
    position: absolute;
    top:40%;
    font-size: 1.5em;
    color: red;
    height: 100%;
    margin: auto;
}
.big-letter{
    font-size: 1.5rem;
    font-weight: 100;
}

.fa-5x{
    font-weight: 100 !important;    
}
@keyframes opacityOnAndOff {
    0% {
        opacity: 0;
    }
    50%{
      opacity: 1;
    }
    100% {
        opacity: 0;
    }
}