.containerToHide {
  position: fixed;
  right: 1rem;
  z-index: 1220;
  width: auto;
  border: 0px;
}
.containerToShow {
  position: fixed;
  right: 0;
  z-index: 1220;
  width: auto;
  border: 0px;
}
