.camHolder{
    background-image: url(../../assets/images/giphy.gif);
    height: 400px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat, repeat;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 5px;
}

.hideCamHolder{
    display: none;
}

.dataHolder{
    height: 400px;
    overflow-y: scroll;
}