.camHolder{
    /*background-image: url(../../assets/images/giphy.gif);*/
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat, repeat;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 5px;
}

.hideCamHolder{
    display: none;
}

.dataHolder{
    height: 400px;
    overflow-y: scroll;
}

.recording{
    animation: opacityOnAndOff;
    animation-duration: 1s;
    animation-delay: 0s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

@keyframes opacityOnAndOff {
    0% {
        opacity: 0;
    }
    50%{
      opacity: 1;
    }
    100% {
        opacity: 0;
    }
}